@media (prefers-color-scheme: dark) {
  * {
    background-color: #222225;
    color: #dda;
  }
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
  --padding: 20px;
  --table-border-radius: 10px;
}

h1, h2 {
  text-align: center;
}

h2 {
  margin-top: 0;
}

body {
  margin: 0;
  padding: var(--padding);
}

table {
  margin-left: auto;
  margin-right: auto;
  width: clamp(500px, 75%, 100ch);
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid gray;
}


th[scope="col"] {
  background-color: #eee;
  color: black;
  border: 1px solid gray;
}

th:not([scope="col"]), td {
  padding-left: 1ch;
  border: 1px solid gray;
}

td:nth-child(4) {
  text-align: center;
}

.book-form-container {
  margin-top: 50px;
  border: 1px solid gray;
  border-radius: var(--table-border-radius);
  padding: var(--padding);
}

#book-form > :not(:first-child){
  margin-top: 16px;
}

.hidden {
  display: none;
}
